input[type=text], select ,input[type=email] ,input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #333;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

input[type=submit] {
    width: 35%;
    background-color: #4CAF50;

    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: black;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #4dff4d;
    border:1px solid  #001a00;
    border-radius: 5px;
}
input[type=text]:focus ,input[type=email]:focus ,input[type=password]:focus {
    border: 3px solid #1E2148;
    
    background-color:  #ccffff;
}

form {
    color: white;
    text-align: center;
    border-radius: 25px;
    width: 65%;
    background-color: #333;
    padding: 20px;
    margin-left: 18%;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 6px 8px 20px 6px rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    margin-bottom: 50px;
}
legend {

    color:#000033;
    font-size: 32px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
label {
    color:#000033;
    font-size: 17px;
    font-weight: bold;

}
span {
    font-size: 15px;
}
form span {
    color:skyblue;
}
form h3{
    color:black;
    font-size: 18px;
}
form h3 span {
    color:skyblue;
}
form label.left {
    
}