body { 
    background-image: url("clockwallpaper.jpg");
    font: 400 14px 'Calibri','Arial';
    
    position: relative; 
}
div.container {
    width: 100%;
    border: 3px solid #000033;

}

header{
    padding: 1em;
    color: white;
    background-color: #b3b3ff
    clear: left;
    text-align: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 25px;
    color: #1a0000;
  letter-spacing: 0.15em;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 1px 1px #767474, -1px 6px 1px #787777;
}
footer {
    padding: 1em;
   
    background-color: black;
    clear: left;
    text-align: center;
}

nav {

    max-width: 100%;
    text-align: center;
    padding: 1em;
}

nav ul {
    list-style: none;
  padding: 0;
  
 
  
  
  width: 33%;
  margin-left:33%; 
  text-align: center;
    margin-top:30px;
}
nav li a {
    padding:12px 0;
  display: block;
  
  border: 1px solid black;
  border-radius: 1px;
 box-shadow: 5px 19px 38px rgba(0, 0, 0, 0.30), 5px 15px 12px rgba(0, 0, 0, 0.22);
  color: white;
  height: 50px;
  font-size: 25px;
  padding-top: 30px;
  background-color: #333;
  

}
nav li a:hover {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  background-color: #111;
  color:skyblue;
  border:2px solid skyblue;
  border-radius: 10px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2), 0 30px 30px 0 rgba(0, 0, 0, 0.19);
  
}

a {
  text-decoration: none;
}

article {
  background-image: url("runningtime.jpg");
    overflow: hidden;
    color: #000033;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 6px 8px 20px 6px rgba(0, 0, 0, 0.19);
    
    padding: 25px;

    border: 2px solid black;
    border-radius: 5px;
    max-width: 100%;
    width: 75%;
    margin-left: 11%;
    margin-top: 25px;

    
}
article p {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 20px;
    padding-left: 30px;
    max-height: 100%;
    color:black;
    margin: 25px;
  letter-spacing: 0.1em;
  text-shadow: 1px -1px 0  #bfbfbf, -1px 2px 1px  #bfbfbf;
}
 

header h1 img {
    border-radius: 20px;
   
    left: -5%;
}
footer {
    margin-top: 40px;
}
footer a:hover {
    font-size: 20px;
    color: #99ffff;
}

/*a#a {
  background-image: url(home2.jpg);
}
a#b {
  background-image: url(register2.jpg);
}
a#c {
  background-image: url(login2.jpg);
}
a#d {
  background-image: url(about2.jpg);
}
a#e {
  background-image: url(contact2.jpg);
}*/