a.personaltt {
	width: 33%;
  margin-left:33%; 
  text-align: center;
    margin-top:30px;
	 padding:12px 0;
  display: block;
  
  border: 1px solid black;
  border-radius: 1px;
 box-shadow: 5px 19px 38px rgba(0, 0, 0, 0.30), 5px 15px 12px rgba(0, 0, 0, 0.22);
  color: white;
  height: 50px;
  font-size: 25px;
  padding-top: 30px;
  background-color: #333;
}
a.personaltt:hover {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  background-color: #111;
  color:skyblue;
  border:2px solid skyblue;
  border-radius: 10px;
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2), 0 30px 30px 0 rgba(0, 0, 0, 0.19);
}