


table {
  width: 100%;
  border-collapse: collapse;
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 6px 8px 20px 6px rgba(0, 0, 0, 0.19);
   margin-top: 50px;
  
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}
th {
  text-align: left;
}
thead th {
  background-color: #333;
  
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
tbody td {
  position: relative;
}
input[type=text] {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #333;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);

}

input[type=text]:focus{
  border:1px solid blue;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

  input[type=submit] {
    width: 25%;
    background-color: #4CAF50;

    padding: 14px 20px;
    margin-left: 38%;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: black;
    font-weight: bold;
}
input[type=submit]:hover {
    background-color: #333;
    border:1px solid  #001a00;
    border-radius: 5px;
}



